<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv='Content-Type'/>
  </head>
  <body>
    Hey looks like some body send you some information about a job from <%= sender_name %> with <%= sender_email %>
    Here it's the message:
    <%= message %>
  </body>
</html>
