<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv='Content-Type'/>
  </head>
  <body>
    Hey looks like,<strong> <%= @sender[:name] %> </strong> from <strong><%= @sender[:email] %></strong> , send you some information about a job
    <br>
    Here it's the message: <br>
    <%= @sender[:message] %>
  </body>
</html>
