<div class='asteroids-game-start'>
  <h3>Press WASD keys to move, space bar to shoot, or simply user mouse to move and left click to shoot</h3>
  <button class="asteroids-start-game">Start Game</button>
</div>

<div class='asteroids-game-pause hidden'>
  <h3>PAUSE! press e to unpause</h3>
</div>
<canvas></canvas>

<div class="titles-container clearfix">
  <h2>Asteroid!</h2>
  <h3>Press WASD to move, Press space to fire bullet</h3>
  <h3>...Or simply move with your cursor to move and left click to fire</h3>
  <h4 class="kill-count">Kills Count: 0</h4>
  <h4 class="death-count">Death Count: 0</h4>
</div>

<script>
  (function () {
    Asteroids.PNGS = ["<%= asset_path('asteroid-1.png') %>", "<%= asset_path('asteroid-2.png') %>", "<%= asset_path('asteroid-2.png') %>"];
    Asteroids.SHIPIMG = "<%= asset_path('shuttle.png') %>";
    var canvasEl = document.getElementsByTagName("canvas")[0];
    canvasEl.width = Asteroids.Game.DIM_X;
    canvasEl.height = Asteroids.Game.DIM_Y;

    var ctx = canvasEl.getContext("2d");
    var game = new Asteroids.Game();
    new Asteroids.GameView(game, ctx, canvasEl).start();
  })();
</script>
