


  <section class="main-section group">

    <section class="board-section">
      <div class='board-container'>
        <ul class="group">

        </ul>
      </div>
      <div class="game-over group hidden">
        <h3>GAME OVER!</h3>
        <br><button class='new-game'>play again?</button>
      </div>
      <div class='game-start'>
        <h3>Press arrow keys to move <>>>>>:>~</h3>
        <button class="start-game">Start Game</button>
      </div>

    </section>

    <section class="menu-section">
      <h1>SNAKE!</h1>
      <div class='menu-group'>
        <div class="top-score"></div>
        <div class='score'></div>
      </div>
    </section>

  </section>


  <script>
  $(document).ready(function(){

    var $el = $('ul.group')

    var newView = new SnakeGame.View($el);

    $('button.new-game').on("click", function () {

      window.location.reload();
    });

  });
  </script>
