<header class='header clearfix'>
  <nav class='header-nav clearfix'>
    <div class="home-link">home</div>
    <ul class='header-nav-links'>
      <li>stuff 1</li>
      <li>stuff 2</li>
      <li>stuff 3</li>
    </ul>

  </nav>

</header>

<section class='main clearfix'>

  <section class='sidebar clearfix'>
    <h3>kenny huang</h3>
    <div class='portrait-img'></div>
    <div class='message-box hidden'>hire me and give me lots of $$!</div>
    <div class='contact-container'>
    <h3>contact info</h3>
    <div><div class='phone-sprite'></div>cell: 516-589-1469</div>
    <div class='email'>khuangtai@gmail.com</div>
    <% src="https://maps.googleapis.com/maps/api/staticmap?&zoom=13&size=200x200&sensor=false&markers=40.706159%2C-73.835001&key=AIzaSyDtlCO4voB02BO4bKGZgy2hXj2iXUhb5uM" %>




    <div>8330 118th St Apt 4A</div>
    <div>Kew Gardens, NY 11415</div>
    <div><img src="<%= src %>" class='contact-location'/></div>

    </div>
  </section>


  <section class="mainbar">
    <article class="projects and stuff">
      projects
    </article>
    <div class="row-container">
      <h5>reddit clone(rails, backbone)</h5>
        <a href="www.reddit-clone-277.herokuapps.com"><div class='reddit-clone-img'></div></a>
      <p>
        use bunch of stuff from rails and backbone to minic reddit
        in addition, sub reddits live chat capability is integerate
        also geo mapping.
      </p>
    </div>
    <div class="row-container">
      <h5>active record lite(ruby)</h5>
      <p>
        cloned active record with ruby metaprogramming
      </p>
    </div>
    <div class="row-container">
      <h5></h5>
    </div>
    <div class="row-container">stuff4</div>

    <ul class="skill-list">
      <li>Ruby</li>
      <li>Rails</li>
      <li>JavaScript</li>
      <li>Backone.js</li>
      <li>JQuery</li>
      <li>git</li>
      <li>rspec</li>
      <li>sql</li>
      <li>html</li>
      <li>css</li>
    </ul>
  </section>


</section>
