/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */
html, body, div, section, span, li, ul, a {
  padding:0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

form, input, button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  font: inherit;
  outline: none;
}

.block{
  display: block;
}

.hidden {
  display: none;
}
img {
  display: block;
}

body {
  padding: 20px;
  font-family: sans-serif;
  font-size: 16px;
  background-image: image-url('body.jpg');
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#nav  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #06c;
  z-index: 1000;
}


.container {
  display: block;
  margin: 0 auto;
  width: 456px;
}

.container a {
  display: block;
  float: left;
  padding: 20px 10px;
  color: white;
  font-weight: bold;
  transition: color, background 1s;
}

.container a:hover {
  color: #06c;
  background: white;
}

//
.main {
  margin: 0px auto;
  background: #fff;
  width: 900px;

  padding: 60px 20px;
  box-shadow: 0 0 33px 4px #ccc;
}

.title-container {
  display: block;
  width: 100%;
}

.pic-container {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display:block;
  float: left;
  overflow: hidden;
}

.name-container {
  display: block;

}
.my-face {
  display:block;
  float: left;
  margin-top: -30px;
}
.by-line {
  margin: 0;
  text-align: right;
  color: #000;
  opacity: 0.5;
  transition: all 0.5s;
}
.by-line:hover {
  opacity: 1;
  text-shadow: 0px 0px 5px red;
}
.my-name {
  display: block;
  color: #06c;
  padding-bottom: 10px;
  font-weight: 600;
  float: right;
  width: 680px;
  text-shadow: 0px 0px 5px gray;
  font-size: 50px;
  border-bottom: 1px solid #ccc;
}

strong {
  color: #fff;
  text-shadow: 1px 1px 10px black;
  transition: color 1s;
}

strong:hover {
  color: #6c0;
}

.project-container h3 {
  margin-top: 0;
}
.project-img {
  position: relative;
  width: 900px;
  box-shadow: 0 1px 20px 10px #ccc;
}

.image-container {
  position: relative;
  display: block;
  float: left;
  width: 300px;
}

.relative-wrapper {
  position: relative;
  width: 100%;
}


.image-info {
  cursor: pointer;
  width:100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  background: #000;
  opacity: 0.5;
  font-size: 17px;
  color: white;
}

.image-info > span {
  position: absolute;
  text-shadow: 0 0 5px black;
  font-height: 100px;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.image-container:hover > .image-info {
  display: block;
}

.medium {
  width: 500px;
  margin: 20px auto;
}
.small {
  width: 300px;
}

.title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.description {
  display: block;
  float: left;
}

.project-links {
  position: relative;
  margin:0 20px 20px 0;
  background:#06c;
  display: block;
  float: left;
  height: 30px;
  padding: 4px 3px;
  border-radius: 5px;
  box-shadow: 0 3px 1px 1px #ccc;
  transition: background 0.5s;
}

.project-links > a {
  display: inline-block;
  margin: 5px;
  color: white;
}

.project-links:hover {
  background: #0c6;
}
.project-links:hover > a {
  cursor: pointer;
  color: #06c;
}
.project-links:active {
  top: 3px;
  box-shadow: none;
}

.icon-container-heroku {
  position: relative;
  width: 27px;
  height: 26px;
  display: block;
  float: left;
  overflow:hidden;
}
.icon {
  position: absolute;
  height: 25px;
}
.github-icon-heroku {
  left: -348px;
}

.live-icon-heroku {
  margin-top: 2px;
  top: -1px;
  left: -155px;
}

.linkedin-icon-heroku {
  left: -273px;
}
.twitter-icon-heroku {
  left: -233px;
}
.facebook-icon-heroku {
  left: -192px;
}
.email-icon-heroku {
  left: -113px;
}
.map-icon-heroku {
  left: -34px;
  top: 1px;
}
.phone-icon-heroku {
  left: -72px;
}


//the origin icons container before heroku icons
.icon-container {
  width: 27px;
  height: 26px;
  display: block;
  float: left;
  background-image: url('social-media-icons.png');
  background-size: auto 25px;
}

.github-icon {
 background-position: -348px 0px;
}
.live-icon {
  margin-top: 3px;
  background-position: -155px -1px;
}

.linkedin-icon {
  background-position: -273px 0px;
}
.twitter-icon {
  background-position: -233px 0px;
}
.facebook-icon {
  background-position: -192px 0px;
}
.email-icon {
  background-position: -113px 0px;
}
.map-icon {
  margin-top: 3px;
  background-position: -34px 0px;
}
.phone-icon {
  background-position: -72px 0px;
}

//original icon end

.project-container {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.features > li {
  margin-bottom: 10px;
  font-size: 14px;
}
.project-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  z-index: 100;
}

.project-modal:target {
  opacity: 1;
  pointer-events: auto;
}

.project-modal > div {
  width: 900px;
  position: relative;
  // text-align: center;
  margin: 10% auto;
  padding: 10px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
}

.close {
  background: #606061;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: -12px;
  right: -12px;
  width: 24px;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #06c;
  // background: #00d9ff;
}
.right-side {
  display: block;
  float: right;
  width: 425px;
}

.right-line {
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

.left-side {
  display: block;
  float: left;
  width: 425px;
}

.left-line {
  padding-left: 30px;
  border-left: 1px solid #ccc;
}

.center-align {
  text-align: center;
}
.email-container {
  display: block;
  width: 860px;
  margin: 0 auto;
}
 .input {
  padding:20px;
  margin-bottom: 20px;
  width: 380px;
  float: left;
  font-size: 23px;
  background: #F6F7F9;
  color: #888888;
  border: 1px solid #888888;
  border-radius: 0.35em;
  transition: all 0.5s;
}

.input:focus {
  background: white;
}
.input:first-of-type {
  margin-right: 16px;
}
.message{
  float: left;
  width: 820px;
  border-radius: 0.35em;
  border: 1px solid #888;
  font-size: 23px;
  padding: 20px;
}

.buttons-container {
  width: 400px;
  margin: 0 auto;
}
.form-button {
  position: relative;
  background: #06c;
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 23px;
  box-shadow: 0 3px 1px 1px #ccc;
  transition: background 0.5s;
}
.form-button:hover {
  background: #0c6;
}
.form-button:active {
  top: 3px;
  box-shadow: none;
}
.form-button:first-of-type {
  margin-right: 20px;
}
