/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */
html, body, div, section, span, li, ul, a {
  padding:0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-decoration: none;
  list-style: none;
}
.block{
  display: block;
}

.hidden {
  display: none;
}
img {
  display: block;
}

body {
  padding: 20px;
  font-family: sans-serif;
  font-size: 16px;
  background-image: image-url('body.jpg');
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#nav  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #06c;
  z-index: 1000;
}


.container {
  display: block;
  margin: 0 auto;
  width: 456px;
}

.container a {
  display: block;
  float: left;
  padding: 20px 10px;
  color: white;
  font-weight: bold;
  transition: color, background 1s;
}

.container a:hover {
  color: #06c;
  background: white;
}
//
.main {
  margin: 0px auto;
  background: #fff;
  width: 900px;

  padding: 60px 20px;
  box-shadow: 0 0 33px 4px #ccc;
}

.title-container {
  display: block;
  width: 100%;
}

.pic-container {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display:block;
  float: left;
  overflow: hidden;
}

.name-container {
  display: block;

}
.my-face {

  display:block;
  float: left;
  margin-top: -30px;
}
.by-line {
  margin: 0;
  text-align: right;
  color: #000;
  opacity: 0.5;
  transition: all 0.5s;
}
.by-line:hover {
  opacity: 1;
  text-shadow: 0px 0px 5px red;
}
.my-name {
  display: block;
  color: #06c;
  padding-bottom: 10px;
  font-weight: 600;
  float: right;
  width: 680px;
  text-shadow: 0px 0px 5px gray;
  font-size: 50px;
  border-bottom: 1px solid #ccc;
}

strong {
  color: #06c;
  text-shadow: 1px 1px 10px black;
  transition: all 1s;
}

strong:hover {
  color: #6c0;
}

.project-img {
  width: 900px;
  box-shadow: 0 1px 100px 10px #ccc;
}

.small {
  width: 300px;
}
.title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.project-links {
  margin-bottom: 20px;
}

.project-container {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
